.el-header {
    background-color: #F00;
}
.el-main {
    background-color: #0F0;
}
.el-footer {
    background-color: #00F;
}
.el-aside{
    // background-color: #2f3242;
}
.el-menu-item {
    // color: #FFF;
}
.el-container {
    width: 100vw;
    height: 100vh;
}