$baseColor: #0c8cf6;

.login {
    // 让页面大多数情况下全屏显式
    width: 100vw;
    height: 100vh;
    // 设置不让页面崩溃的最小值
    min-width: 1280px;
    min-height: 480px;
    & > div {
        height: 100%;
        float: left;
    }
    .banner {
        width: 50%;
        background-image: url("http://127.0.0.1:3000/img/login-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .login-pannel {
        width: 50%;
        & > div {
            width: 100%;
        }
        .login-title {
            height: 12%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            .logo {
                img {
                    width: 172px;
                }
            }
            .login-switch{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                font-size: 16px;
                font-weight: 900;
                color: $baseColor;
                padding: 10px;
                border: 1px $baseColor solid;
                border-radius: 2px;
            }
            &::after {
                display: block;
                content: '';
                width: 80%;
                box-sizing: border-box;
                height: 2px;
                background-color: #EEE;
                margin: 0 100px; // 为什么这里的margin没有生效
                position: absolute;
                bottom: 0;
            }
        }
        .login-box {
            height: 88%;
            padding: 0 22%;
            box-sizing: border-box;
            overflow: hidden;
            & > div{
                margin-top: 50px;
                .login-wel {
                    font-size: 32px;
                    color: #575d6a;
                    font-weight: 900;
                    &::after{
                        display: block;
                        content: '';
                        height: 3px;
                        width: 60px;
                        background-color: #c1c5cc;
                        margin-top: 25px;
                    }
                }
                .login-input {
                    & > div {
                        & > input {
                            width: 100%;
                            height: 38px;
                            border: 1px solid #c1c5cc;
                            margin-top: 30px;
                            border-radius: 6px;
                            padding-left: 14px;
                            box-sizing: border-box;
                            &:focus{
                                border: 1px solid $baseColor;
                            }
                        }
                        input.login-err{
                            border: 1px solid #F00;
                        }
                        div.login-err{
                            width: 100%;
                            font-size: 12px;
                            height: 12px;
                            line-height: 12px;
                            color: #F00;
                            position: absolute;
                            & > img {
                                vertical-align: middle;
                                height: 10px;
                            }
                        }
                    }

                }
                .login-btn {
                    margin-top: 30px;
                    width: 100%;
                    height: 40px;
                    background-color: $baseColor;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 900;
                    border-radius: 6px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.6;
                    }
                    &:active {
                        opacity: 1;
                    }
                    & > a {
                        color: #FFF;
                        line-height: 40px;
                    }
                }
                
                .login-other {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    & > div {
                        font-size: 14px;
                        & > span {
                            color: #89909e;
                        }
                        & > a {
                            color:$baseColor;
                        }
                    }
                }
                
            }
        }
    }
}