.my-header{
  width: 100vw;
  min-width: 1000px;
  position: fixed;
  top: 0;
  .header-box{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-color: #1d303b;
    .logo{
      float: left;
      width: 150px;
      & > img {
        width: 100%;
      }
    }
    .operation{
      & > div{
        float: right;
      }
      a{
        float: left;
        color: #FFF;
        display: block;
        width: 80px;
        text-align: center;
        border: 1px solid #1d303b;
      }
    }
  }
}